
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <?php 
foreach($args as $family){
    $id=$family->id;
    echo "<pre>";
    echo 'Name Father : '.$family->name_father.'_ Status Father : '.$family->status.' _ Count : '.$family->count,' _ Phone : '.$family->phone,' _ Address : '.$family->name_address."    "."<a href='update'><button>Update</button><a><a href='delete?id=$id'><button>delete</button></a><br>";
    echo "</pre>";
}
?>

<br> <br>
<a href="/Darrebni/ProjectFamily/">go back Home</a>

</body>
</html>

